<div class="panel panel-default" data-id="{{id}}">
  <div class="panel-heading">
    <h3 class="panel-title">{{id}}</h3>
  </div>
  <div class="panel-body">
    <p>{{description}}</p>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" id="subject" value="{{subject}}">
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea class="form-control" id="text" rows="8">{{text}}</textarea>
    </div>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-primary" data-action="save-email">
      {{ glyphicon 'save' }} Save
    </button>
  </div>
</div>

