<h1 class="page-header">{{ glyphicon 'cog' }} Configuration</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ glyphicon 'globe' }} General</h3>
  </div>
  <div class="panel-body">
    <form role="form" id="app-form">
      <div class="form-group">
        <label for="app-name">App name</label>
        <input type="text" class="form-control" name="app-name"
          id="app-name" value="{{app.name}}">
      </div>
      <div class="form-group">
        <label for="app-url">App URL</label>
        <input type="text" class="form-control" name="app-url"
          id="app-url" value="{{app.url}}">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ glyphicon 'send' }} Outgoing Mail</h3>
  </div>
  <div class="panel-body">
    <form role="form" id="mailer-form">
      <div class="form-group">
        <label for="mailer-from">From</label>
        <input type="text" class="form-control" name="mailer-from"
          id="mailer-from" value="{{mailer.from}}">
      </div>
      <div class="form-group">
        <label for="mailer-service">Service</label>
        {{ mailerServicePicker mailer.service }}
      </div>
      <div class="form-group">
        <label for="mailer-user">Username</label>
        <input type="text" class="form-control" name="mailer-user"
          id="mailer-user" value="{{mailer.user}}">
      </div>
      <div class="form-group">
        <label for="mailer-pass">Password</label>
        <input type="password" class="form-control" name="mailer-pass"
          id="mailer-pass" value="{{mailer.pass}}">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ glyphicon 'stats' }} Analytics</h3>
  </div>
  <div class="panel-body">
    <form role="form" id="analytics-config-form">
      <div class="form-group">
        <label for="analytics-google-tracking-id">Google Analytics Tracking ID</label>
        <input type="text" class="form-control"
          name="analytics-google-tracking-id" id="analytics-google-tracking-id"
          value="{{analytics.google.trackingId}}">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

