<h1 class="page-header">Hi Admin!</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ glyphicon 'info-sign' }} App Info</h3>
  </div>
  <div class="panel-body">
    <h4>Capot</h4>
    <p>
      <strong>Version</strong>: {{capot.version}}<br />
    </p>
    <h4>CouchDB</h4>
    <p>
      <strong>Version</strong>: {{couchdb.version}}<br />
      <strong>UUID</strong>: {{couchdb.uuid}}<br />
      <strong>Vendor</strong>: {{couchdb.vendor.name}} {{couchdb.vendor.version}}
    </p>
  </div>
</div>

